.rangeslider-cont {
  position: relative;
  height: 28px;
  display: flex;
  align-items: center;
}

.rangeslider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
  cursor: pointer;
}

.rangeslider:focus {
  outline: none;
}

.rangeslider-active {
  position: absolute;
  left: 0;
  height: 8px;
  background-color: var(--c-neon-green);
  mask: radial-gradient(1px 60% at right, #0000 calc(100% - 1px), #000);
  pointer-events: none;
}

/* #region Chromium styles */
/* slider track */
.rangeslider::-webkit-slider-runnable-track {
  background-color: var(--c-black);
  border-radius: 0px;
  height: 8px;
}

/* slider thumb */
.rangeslider::-webkit-slider-thumb {
  height: 28px;
  width: 28px;
  -webkit-appearance: none;
  appearance: none;
  margin-top: -10px;
  background-color: var(--c-light-gray);
  border-radius: 50%;
  border: var(--c-light-gray) solid 2px;
  transition-property: border-color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.rangeslider:hover::-webkit-slider-thumb {
  background-color: var(--c-black);
  border-color: var(--c-neon-green);
}
/* #endregion Chromium styles */

/* #region Firefox styles */
/* slider track */
.rangeslider::-moz-range-track {
  background-color: var(--c-black);
  border-radius: 0px;
  height: 8px;
}

/* slider thumb */
.rangeslider::-moz-range-thumb {
  height: 28px;
  width: 28px;
  background-color: var(--c-light-gray);
  border: none;
  border-radius: 50%;
  border: var(--c-light-gray) solid 2px;
  transition-property: border-color, background-color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.rangeslider:focus::-moz-range-thumb,
.rangeslider:hover::-moz-range-thumb {
  background-color: var(--c-black);
  border-color: var(--c-neon-green);
}
/* #endregion Firefox styles */

@container sect (max-width: 343px) {
}
