.rangeslider {
  --l: 8px;
  --thumb-size: 28px;

  width: 100%;
  height: var(--thumb-size); /* needed for Firefox*/
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

/* Chromium */
.rangeslider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: var(--thumb-size);
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 0 0 28px inset var(--c-light-gray);
  border-image: linear-gradient(
      90deg,
      var(--c-neon-green) 50%,
      var(--c-black) 0
    )
    0 1 / calc(50% - var(--l) / 2) 100vw/0 calc(100vw);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.rangeslider:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px inset var(--c-neon-green),
    0 0 0 26px inset var(--c-black);
}

/* Firefox */
.rangeslider::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 28px inset var(--c-light-gray);
  border-image: linear-gradient(
      90deg,
      var(--c-neon-green) 50%,
      var(--c-black) 0
    )
    0 1 / calc(50% - var(--l) / 2) 100vw/0 calc(100vw);
  transition-property: box-shadow;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.rangeslider:hover::-moz-range-thumb {
  box-shadow: 0 0 0 2px inset var(--c-neon-green),
    0 0 0 26px inset var(--c-black);
}
