:root {
  /* Colors */
  --c-black: #18171f;
  --c-dark-gray: #24232c;
  --c-medium-gray: #817d92;
  --c-light-gray: #e6e5ea;
  --c-neon-green: #a4ffaf;
  --c-red: #f64a4a;
  --c-orange: #fb7c58;
  --c-yellow: #f8cd65;

  /* Typography */
  --font-family: "JetBrains Mono", monospace;
  --font-weight: 700;
  --font-size-s: 16px;
  --font-size-m: 18px;
  --font-size-l: 24px;
  --font-size-xl: 32px;

  /* Transition */
  --transition-duration: 400ms;
  --transition-timing-function: ease-in-out;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--c-black);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-variant-ligatures: normal;
  font-feature-settings: unset;
}

a {
  text-decoration: none;
}

button,
textarea {
  border: none;
  font-size: 100%;
  background-color: transparent;
  font-family: inherit;
}

button:focus {
  outline: none;
}

svg {
  display: block;
}

input {
  min-width: 0;
  border: none;
  outline: none;
  font-family: inherit;
  background-color: transparent;
}

input::placeholder {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

textarea {
  outline: none;
  resize: none;
}

li {
  list-style: none;
  list-style-position: inside;
}

dialog {
  border: none;
  background-color: transparent;
  max-width: unset;
  max-height: unset;
}

dialog::backdrop {
  background-color: transparent;
}

[popover] {
  contain: layout style;
  outline: none;
  border: none;
  background-color: transparent;
  overflow: visible;
}

.resize-animation-stopper {
  --transition-duration: 0;
}
