.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 32px 32px 32px;
  background-color: var(--c-dark-gray);
}

@container sect (max-width: 343px) {
  .form {
    padding: 16px;
  }
}
